body {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Montserrat-Bold"; */
}

/* *******Title section******* */

#title {
  background-color: #ff4c68;
  text-align: left;
  color: #fff;
}

.hr {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}

.container-fluidd {
  padding: 3% 15% 14%;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.9rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: "Montserrat";
}

/* Download button       */

.download-btn {
  /* margin: 12px 26px 12px 2px; */
  margin: 5% 3% 5% 0;
}

/* IMAGE    */
.iphone-img {
  position: relative;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* *******feature section******* */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}
.cf{
  padding: 4% 15%;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* *******Testimonial section******* */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.5rem;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  /* border-radius:157rem; */
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

 /* **.pricing** */

.price {
  text-align: center;
}
.card-header{
  text-align: center;
}

.text-align{
  text-align: center;
}

#pricing {
  margin: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* **call to action** */

#cta {
}

.cta-btn {
  font-weight: 400;
}

/* **footer** */

#footer {
  text-align: center;
}
.copyright {
  color: #8f8f8f;
  font-size: 1.2rem;
  margin: 1%;
}

p{
  color: #8f8f8f;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

/* **Refactoring code** */

.container-fluid {
  padding: 7% 15%;
}

/* section  */
.colored-section{
  background-color: #ff4c68;
  text-align: center;
}

.white-section{
  background-color: #fff;
}